{% extends "base.html.twig" %}
{# On hérite du template 'base.html.twig' #}

{# On appel le block body du template 'base.html.twig' #}
{% block body %}

    <h1 class="display-4 text-center my-4">Détails de l'article</h1>

    <div class="col-md-12 card mb-2 text-center p-0">
        <img src="https://picsum.photos150/100" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras velit erat, suscipit et gravida sit amet, maximus maximus mi. Vestibulum interdum cursus dolor bibendum iaculis. Morbi ligula ipsum, ultricies et odio sed, tristique auctor tortor. Phasellus consequat porta augue, dapibus consequat justo commodo id. Nunc porttitor interdum lacus vel iaculis. Fusce id sem convallis, consequat augue eu, euismod turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum ligula eget nisi placerat viverra.</p>

            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras velit erat, suscipit et gravida sit amet, maximus maximus mi. Vestibulum interdum cursus dolor bibendum iaculis. Morbi ligula ipsum, ultricies et odio sed, tristique auctor tortor. Phasellus consequat porta augue, dapibus consequat justo commodo id. Nunc porttitor interdum lacus vel iaculis. Fusce id sem convallis, consequat augue eu, euismod turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum ligula eget nisi placerat viverra.</p>

            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras velit erat, suscipit et gravida sit amet, maximus maximus mi. Vestibulum interdum cursus dolor bibendum iaculis. Morbi ligula ipsum, ultricies et odio sed, tristique auctor tortor. Phasellus consequat porta augue, dapibus consequat justo commodo id. Nunc porttitor interdum lacus vel iaculis. Fusce id sem convallis, consequat augue eu, euismod turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum ligula eget nisi placerat viverra.</p>
        </div>
    </div>
    
{% endblock %}


